{% extends "base.html" %}

{% block title %}Image Sharer - Home{% endblock title %}

{% block content %}

    {% load static %}

    <div class="row">
        {% for post in posts %}
        <div class="col-md-3">
            <div class="card my-4 p-2">
                {% load thumbnail %}
                <img src="{{ post.image|thumbnail_url:'postThumbnail'}}" alt=""> <br>
                {{ post.text }} <br>
                <a href="{% url "feed:detail" post.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}